/* global stuff */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-color: #222;
    --light-color: #fff;
    --block-color: #008000;
    --block-border-color: #006400;
    --player-color: #ff0000;
    --player-border-color: #c50909;
}

body {
    background: var(--dark-color);
    color: var(--light-color);
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    min-width: 900px;
    margin: 0 auto;
}

/* game */

#game {
    background-color: var(--light-color);
    width: 100%;
    height: 700px;
    position: relative;
    border-radius: 15px;
}

/* goal */

.goal {
    position: absolute;
    background-color: var(--light-color);
    right: -100px;
    width: 115px;
    height: 100px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* blocks */

.block {
    position: absolute;
    background-color: var(--block-color);
    transition: all 100ms;
    border: 7px solid var(--block-border-color);
    cursor: pointer;
    z-index: 10;
    border-radius: 15px;
}

.block.player {
    background-color: var(--player-color);
    border: 7px solid var(--player-border-color);
}

/* info */

#info {
    padding-top: 20px;
    font-size: 30px;
    text-align: center;
}

.scaleUp {
    animation: scaleUp 1s forwards;
}

#levelInfo {
    display: inline-block;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

/* win message */

.winMessage {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 80px;
    color: var(--dark-color);
    font-weight: 900;
    z-index: 20;
}

.replayBtn {
    outline: none;
    font-family: inherit;
    padding: 20px 30px;
    font-size: 40px;
    font-weight: 900;
    color: var(--dark-color);
    background: transparent;
    border: 5px solid var(--dark-color);
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
}

.replayBtn:hover,
.replayBtn:focus {
    background-color: var(--dark-color);
    color: var(--light-color);
}

/* media queries */

@media (max-width: 1150px) {
    main {
        transform: scale(0.8);
    }
}

@media (max-width: 900px) {
    main {
        transform: scale(0.6);
    }
}

@media (max-width: 670px) {
    main {
        transform: scale(0.4);
    }
}

@media (max-width: 450px) {
    main {
        transform: scale(0.3);
    }
}
